In [2]:
list1 = [23,4,567]
list1.clear() #inline change, removes all the elements

In [3]:
list1

[]

In [9]:
list1 = [23,4,567]
u = list1.copy() #returns a copy of the list

In [7]:
u

[23, 4, 567]

In [16]:
list1 = [23,'4',547,4,4,23,4,3,334,54,56,6,5,4,34,3,4,4]
list1.count('4') # counts the element in the list
#returns the occurence of the given element

1

In [27]:
list1 = [23,4,567]
#Syntax:
# list1.extend(Iterable) #iterables' elements will go ONE BY ONE
# list1.append(Element) as an SINGLE ELEMENT
list1.extend('lion') #Inline change
print(list1)

[23, 4, 567, 'l', 'i', 'o', 'n']

In [32]:
list3 = [3,4,5]
list3.extend(list1)

In [34]:
(list3)

[3, 4, 5, 23, 4, 567, 'l', 'i', 'o', 'n']

In [43]:
list3 = [34,5,34,6,7]
list3.index(7) #returns the index value of given element
# if the given element is not present in the list then it will raise an ERROR

4

In [44]:
list3 = [34,5,34,6,7]
#Syntax:
# list.insert(index, element)
list3.insert(2, 'qwerty') #Inline change

In [45]:
print(list3)

[34, 5, 'qwerty', 34, 6, 7]

In [53]:
list3 = [34,5,34,6,7]
#Syntax:
# list.pop(index)#removes the element on the given index and returns it
list3.pop(-2) #by default removes the LAST ELEMENT and returns it

6

In [54]:
print(list3)

[34, 5, 34, 7]

In [63]:
list3 = [34,5,34,6,7]
#Syntax:
# list.remove(element) #removes the given element
# first occurence from left to right
list3.remove(34) 
print(list3)

[5, 34, 6, 7]

In [65]:
list3 = [34,5,34,6,7]
list3.reverse() #Inline change, reverses THE ORDER of the list
print(list3)

[7, 6, 34, 5, 34]

In [68]:
list3 = [34,5,34,6,7]
list3.sort() #Inline change,By Default sorts in ascending order
print(list3)

[5, 6, 7, 34, 34]

In [70]:
list3 = [3.4,5,34,6,7] #To be remembered
list3.sort(reverse = True) #sorts in descending order
print(list3)

[34, 7, 6, 5, 3.4]

In [ ]:
# Tuple
# Ordered, Indexed, Immutable, Allows all datatypes, duplicate elements are allowed

In [71]:
t1 = (3.46,56,67,7,7,7)
for i in t1:
    print(i)

3.46
56
67
7
7
7

In [76]:
t3 = (34,5,3.4,'lion', True, [4,5], (5,7,8), {4,56}, {'a':34})
print(t3)

(34, 5, 3.4, 'lion', True, [4, 5], (5, 7, 8), {56, 4}, {'a': 34})

In [87]:
l1 = (34,57,78)
l1[1] = 90 # you can NOT CHANGE

TypeError: 'tuple' object does not support item assignment

In [88]:
l1 = (34,57,78)
t5 = (34,57)
l1 + t5

(34, 57, 78, 34, 57)

In [90]:
l1 = (34,57,78,4,5,6,67)
l1[2:-1:2]

(78, 5)

In [99]:
# IF YOU HAVE ONLY ONE ELEMENT IN TUPLE THEN WE MUST PUT comma AT THE END
y1 = (3.4,)
type(y1)

tuple

In [101]:
y1 = (3.4, 3,4,56,3)
y1.count(3)

2

In [105]:
y1 = (3.4, 3,4,56,3)
y1.index(3,2)

4

In [111]:
#list comprehension

l1 = []
for i in range(2,21,2): #i = 4
    l1.append(i) 
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [113]:
u23 = [i for i in range(13, 131, 13)]
print(u23)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [115]:
# One Liner if
a = 2
if a == 2:
    print('success')
    
else:
    print('faillll')

success

In [ ]:
#Syntax:
# IF BOC if condition else ELSE BOC

In [117]:
a = 2
print('success') if a == 2 else print('faillll')

success

In [ ]:
# SET
#characteristics
# Mutable, UNORDERED, Unindexed,
# Allows ONLY Immutable datatype element,
# Does not ALLOW duplicate ELEMENTS

In [4]:
s1 = {23,4,54,7}
len(s1)
print(s1)

{4, 23, 54, 7}

In [5]:
s1[0]

TypeError: 'set' object is not subscriptable

In [3]:
for i in s1:
    print(i)

4
23
54
7

In [9]:
s4 = {34, 5.6, True, False, 'qwerty', (2,4)}
print(s4)

{False, True, 34, (2, 4), 'qwerty', 5.6}

In [11]:
s4 = {34, 5.6, True, 5.6, 5.6, 'qwerty', (2,4), (2,4), 34}
len(s4)
print(s4)

{True, 34, (2, 4), 'qwerty', 5.6}

In [12]:
for i in s4:
    print(i)

True
34
(2, 4)
qwerty
5.6

In [15]:
t1 = (3,4, ['a', 'f'])
print(t1)

(3, 4, ['a', 'f'])

In [14]:
s1 = {23,45,67,(3,4, ['a', 'f'])}
print(s1)

TypeError: unhashable type: 'list'

In [20]:
s3 = [23,4,67]
s3[1] = 8989
s3

[23, 8989, 67]

In [36]:
s3 = {23,4,67}
s3.discard(4) #Inline change, removes the given element
s3.add(8989) #Inline change, adds the element in the set
print(s3)

{67, 8989, 23}

In [47]:
s3 = {23,3.4, True}
# s3.remove('otis') #removes the given element, raises an error if element is not present
# s3.discard('otis') #removes the given element, it DOES NOT RAISE an error upon element not found situation
print(s3)

{True, 3.4, 23}

In [64]:
s3 = {23,3.4, True}
s3.clear() #Inline change, removes all the elements of the set
print(s3)

set()

In [66]:
s3 = {23,3.4, True}
k1 = s3.copy() #returns a copy of the set

In [75]:
s3 = {23,3.4, True}
# s3.add(('a', 'b', 'c')) #adds as a SINGLE ELEMENT
# s3.update(('a', 'b', 'c'))
# len(s3)
print(s3)

{True, 3.4, 'a', 'b', 23, 'c'}

In [83]:
s3 = {23,3.4, True}
#Syntax:
# s3.update(Iterable)
s3.update(['za',(4,5), 'rt']) #adds the elements one by one of GIVEN ITERABLE
print(s3)

{True, 3.4, 'rt', 'za', (4, 5), 23}

In [89]:
s3 = {23,3.4, True,45,6.7,89}
s3.pop() #removes the last element

True

In [87]:
s3

{3.4, 6.7, 23, 45, 89}

In [106]:
A = {23,3.4, True,45,6.7,89}
B = {23, 4, 3.4}
A.difference(B) #A - B # returns a new set containing the result

{True, 6.7, 45, 89}

In [101]:
A.difference_update(B) #Inline change, (A-B)
print(B)

{3.4, 4, 23}

In [113]:
A = {2,3,4}
B = {3,5,6}
A.intersection(B) #returns a NEW set containing common elements of both the sets

{3}

In [110]:
B.intersection_update(A) #Inline change

In [111]:
print(B)

{3}

In [114]:
A = {2,3,4}
B = {3,5,6}
A.symmetric_difference(B)

{2, 4, 5, 6}

In [121]:
A.symmetric_difference_update(B) #Inline change
print(A)

{2, 4, 6, 5}

In [122]:
A = {2,3,4}
B = {3,5,6}
A.union(B) #returns a new set containing all the elements of the both sets

{2, 3, 4, 5, 6}

In [124]:
A = {2,3.89,4}
B = {3,5,6}
#A is disjoint of B
# A.isdisjoint(B) #returns True if both sets have unique elements,otherwise False

True

In [133]:
A = {2,3,45,6}
B = {3,45}
# B.issubset(A) # if all the elements of B are present in A then it will return True
A.issuperset(B) # if all the elements of B are present in A then it will return True

True

In [ ]:
empty dictionary - {}
empty set - set()
empty list - []
empty tuple - ()
empty string = ""

In [63]:
l2 = set()
len(l2)

0

In [ ]:
# Everything is an object in Python.

In [10]:
1 == 1.0 == True

True

In [15]:
s1 = {True,3,4,56,1}
print(s1)

{56, True, 3, 4}

In [ ]:
# dictionary
#characteristics
# Mutable
# Ordered, Keys can be ONLY IMMUTABLE datatypes,
# values can be of ALL datatypes
# keys MUST BE UNIQUE, values can be duplicate

In [19]:
# ek key value pair = ek element = ek item
#key : value
d1 = {12:34, 34:34, 4:345}
print(d1)

{12: 34, 34: 34, 4: 345}

In [25]:
d3 = {'a':23, True:23, 34:'56', 1.2:[3,3,4,5], (3,4,5):{'a':23}, 34:'DUPLICATE'}
print(d3)

{'a': 23, True: 23, 34: 'DUPLICATE', 1.2: [3, 3, 4, 5], (3, 4, 5): {'a': 23}}

In [28]:
d1 = {'a':12, 'b':45, 'a':657, 'k':45, 'a':1}
print(d1)

{'a': 1, 'b': 45, 'k': 45}

In [38]:
d2 = {'a': 1, 'b': 45, 'k': 45}
for i in d2:
    print(i, d2[i])

a 1
b 45
k 45

In [31]:
# d2[key]
y = d2['a']

In [32]:
print(y)

1

In [33]:
d2['k']

45

In [35]:
dict1 = {'a':34, (3,4,5,56):12, 23:[3,4]}
dict1

{'a': 34, (3, 4, 5, 56): 12, 23: [3, 4]}

In [36]:
dict1[(3,4,5,56)]

12

In [37]:
dict1['mukesh']

KeyError: 'mukesh'

In [41]:
d2 = {'a': 1, 'b': 45, 'k': 45}
d3 = {1:2, 2:3, 3:4}

In [48]:
d2 = {'a': 1, 'b': 'python', 'k': [3,(23,4.5,'THE'),5]}
# d2['b'][-2]
d2['k'][1][-1][1]

'H'